@model DeAn.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="bg-success">CHI TIẾT SẢN PHẨM</h2>

@Html.Partial("PVDetailProdInFo", Model)
<div class="form-group">
    <div class="col-md-offset-4 col-md-10">
        @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary " })
        </div>
    </div>
