@model DeAn.Models.ViewModel.LoginVM
@{
    ViewBag.Title = "Đăng xuất";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Đăng xuất thành công</h2>
    <p>Bạn đã đăng xuất khỏi hệ thống.</p>
    <p><a href="@Url.Action("Login", "Account")">Quay lại trang đăng nhập</a></p>
</div>


